<div
  class="todo-list-wrapper"
  *ngIf="(todoList$ | async) as todoList"
>
  <app-add-todo
    [currentTODO]="selectedTodoForEdit$ | async"
    [isLoading]="isLoading$ | async"
    (todoItemEdit)="todoItemEdit($event)"
    (todoItemCreate)="todoItemCreate($event)"
  ></app-add-todo>

  <hr>

  <div class="mx-auto col-10">
    <h5>TODO List</h5>
    <hr>
    <app-todo-list

      [cardRef]="todoItemCardRef"
      [data]="todoList"
    ></app-todo-list>
  </div>
</div>

<ng-template
  #todoItemCardRef
  let-todo="data"
>
  <app-todo-item-card
    [todoItem]="todo"
    (todoDelete)="deleteTodo($event)"
    (todoEdit)="setTodoForEdit($event)"
  ></app-todo-item-card>
</ng-template>

